body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #836052;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #ff0000, 4px 4px #00ff00, 6px 6px #0000ff;
    transform: rotate(-3deg);
}

.instagram-link {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(45deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
    padding: 0.5rem;
    border-radius: 5px;
    animation: glitch 1s infinite;
    position: relative;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px #ff0000, -2px -2px #00ff00;
    }
    20% {
        text-shadow: -2px -2px #ff0000, 2px 2px #00ff00;
    }
    40% {
        text-shadow: 2px -2px #ff0000, -2px 2px #00ff00;
    }
    60% {
        text-shadow: -2px 2px #ff0000, 2px -2px #00ff00;
    }
    80% {
        text-shadow: 2px 2px #ff0000, -2px -2px #00ff00;
    }
    100% {
        text-shadow: -2px -2px #ff0000, 2px 2px #00ff00;
    }
}
